* {
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  min-width: 635px;
  overflow-x: auto;
}

:root {
  --main-color-blue: #0064b1;
  --main-border-color-focus: 0.5px solid #3887ee !important;
  --main-box-shadow: 0 0 0 0.5px #4d92e1 !important;
  --main-color-tone-blue: #005187;
  --main-bg-color: #0d6efd;
  --main-bg-table-head: #e6e6e6;
  --main-color-links-hover: #0bbbef;
}

/* Funções */
// Para gerar as imagens no #image-container
@mixin image-container($width: 40px, $height: 40px, $img-path) {
  width: $width;
  height: $height;
  background-image: url($img-path);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes shake {
  0% {
    transform: rotate(-1deg);
  }
  25% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(-1.2deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

/* Para o carregar animado */
.dot-loader {
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}

.dot-loader span {
  width: 10px;
  height: 10px;
  background-color: #0d6efd; /* Cor estilo Bootstrap primary */
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.4s infinite ease-in-out;
}

.dot-loader {
  span:nth-child(1) {
    animation-delay: 0s;
  }
  span:nth-child(2) {
    animation-delay: 0.2s;
  }
  span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.6;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Padrões */
.fs-small {
  font-size: small;
}

.max-height-1 {
  max-height: 640px;
}

.fs-xsmall {
  font-size: x-small;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.grid {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, 110px) !important;
}

.grid-search {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, 230px) !important;
}

:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

a:focus,
a:active,
a:visited {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

button:focus,
button:active,
nav:focus,
nav:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.inputs-style {
  border: solid 1px #2f2f2f4f !important;
}

.inputs-style:focus:not([readonly]) {
  border: var(--main-border-color-focus);
  box-shadow: var(--main-box-shadow);
}

button:focus:not([readonly]) {
  box-shadow: none;
}

table {
  width: 100%;
}

tr,
th,
td {
  font-size: small;
}

.table > thead {
  vertical-align: middle;
}

select,
option,
textarea {
  font-size: small !important;
}

img {
  /* Impede a seleção do usuário */
  user-select: none;
  /* Impede o arrastar no Safari e Chrome */
  -webkit-user-drag: none;
  /* Impede o arrastar no Konqueror */
  -khtml-user-drag: none;
  /* Impede o arrastar no Firefox */
  -moz-user-drag: none;
  /* Impede o arrastar no Opera */
  -o-user-drag: none;
}

.error {
  margin-left: 10px;
  font-size: small;
  color: red;
}
/* Fim */

/* Para os icones do painel, admin e search */
.icone-salas {
  text-align: center;
  color: #002a3f;
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  padding: 0;
}

/* Para o header */
.topbar {
  display: flex;
  height: 32px;
  background-color: var(--main-color-tone-blue);

  p {
    color: #000;
  }

  .user-menu {
    color: #fff;
  }

  .show {
    width: max-content;

    .user-texto {
      font-size: small;
    }
  }
}

.header {
  .logo {
    width: 210px;
    display: inline-block;
    text-decoration: none;

    img {
      display: block;
      width: 210px;
    }
  }

  .menu {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;

    .menu-principal,
    .menu-admin {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;

      .links {
        font-size: 16px;
        font-weight: 400;
        color: #666;
        margin: auto 30px auto 0;
        text-decoration: none;
        background-color: transparent;

        &:hover {
          color: var(--main-color-links-hover);
        }

        &:focus {
          color: var(--main-color-links-hover);
        }
      }
      .sub-menu-link {
        min-width: 6rem;
        .dropdown-item {
          color: #fff;
        }
        .dropdown-item:hover {
          background-color: var(--main-bg-color);
        }
        ul {
          min-width: 6rem;
          margin: 0;
        }
      }
    }
    .menu-admin {
      flex-direction: column !important;
      .links {
        margin: auto 30px;
      }
      .nav-item:hover {
        background-color: var(--main-bg-table-head);
      }
    }
    .offcanvas.offcanvas-end {
      width: 340px !important;
    }
    .offcanvas-body {
      padding: 0 !important;
    }
  }
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

.breadcrumb {
  font-size: small;
  margin-bottom: 0;

  a {
    color: var(--main-color-tone-blue);
  }
  a:hover {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
  }
}

/* Para o título abaixo do header */
.titulo {
  display: block;
  background-color: var(--main-color-tone-blue);
  color: #fff;
  font-size: large;
  text-align: center;
  width: auto;
  font-weight: bold;
}

.nav-link-painel {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity));

  &:hover {
    color: var(--main-color-links-hover);
  }
}

.patrimonio-destaque {
  --bs-table-bg: #9cdbff !important;
}

/* Para o Footer */
.footer {
  a {
    color: var(--main-color-tone-blue);
  }
  a:hover {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
  }
  img {
    width: 30px;
  }

  span {
    font-size: x-small;
    color: #fff;
  }
  p {
    font-size: x-small;
    color: var(--main-color-tone-blue);
  }
}

/* Para configurações de tabela */
.table {
  margin: 0;
}

.table-responsive {
  border-collapse: collapse;
  //max-height: 640px;
}

.table-shadow {
  box-shadow: 3px 3px 9px 1px rgb(0, 0, 0, 0.1);
}

.table-medium {
  th {
    background-color: var(--main-bg-table-head);
  }
}

.acao {
  display: flex;
  justify-content: center;
}

// Para os popovers que ultrapassarem o máximo de altura
.popover-body {
  max-height: 335px;
  overflow-y: auto;
  //padding-top: 38px;
  padding-bottom: 38px;
}

.botao-add-modelo {
  position: absolute;
  background-color: #fff;
  width: 95%;
  left: 0;
  bottom: 0rem;
}

.captions {
  a:not([href]) {
    color: var(--main-color-tone-blue);
  }
  a:hover:not([href]) {
    color: var(--main-color-blue);
    text-decoration: underline;
  }
}

.status-border {
  border: 1px solid #000;
  padding: 8px;
  height: fit-content;
}

.legenda-table {
  //max-width: 870px;
  margin-bottom: 1rem !important;
}

.botoes-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sem-selecao *,
.draggable-cell,
[draggable="true"] {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* O mapa com os patrimônios */
.mapa-grid {
  margin-top: 50px;

  .cell {
    width: 100%;
    height: 100%;
  }
  .draggable-cell {
    div[draggable="true"] {
      animation: shake 0.4s infinite;
      transform-origin: center center;
    }
    div[draggable="true"]:active {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    img {
      max-width: 100%;
      pointer-events: none; /* evita interferência no drag */
    }
  }
  .draggable-cell.over {
    outline: 2px dashed #007bff;
  }

  .titulo-mapa {
    display: none;
    background-color: var(--main-color-tone-blue);
    color: #fff;
    font-size: small;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .estilo-mapa {
    display: grid;
    column-gap: 3px;
    row-gap: 8px;
    border: 1px solid #e9e9e9;
    box-shadow: 3px 3px 9px 1px rgba(0, 0, 0, 0.037);
    padding: 6px;
    font-size: small;
    /* margin-top: 50px; */
  }

  .simula-titulo-mapa {
    margin-bottom: 16px;
    height: 19.5px;
  }

  // Para a sala 12/A/305
  #grid-a-305 {
    img {
      width: 30px;
      height: 30px;
    }
  }

  // Chaves inteiras
  #a-305-01,
  #a-305-02,
  #a-305-03,
  #a-305-04,
  #a-305-05,
  #a-305-06,
  #a-305-07,
  #a-305-08,
  #a-305-09,
  #a-305-10,
  #a-305-11,
  #a-305-12,
  #a-305-13,
  #a-305-19 {
    #extra-image-container {
      @include image-container($img-path: "../img/chave.png");
    }
  }
  // Chaves cortadas
  #a-305-14,
  #a-305-15,
  #a-305-16,
  #a-305-17,
  #a-305-18,
  #a-305-20,
  #a-305-21,
  #a-305-22,
  #a-305-23,
  #a-305-24,
  #a-305-25,
  #a-305-26,
  #a-305-27,
  #a-305-28,
  #a-305-29,
  #a-305-30,
  #a-305-31 {
    #extra-image-container {
      @include image-container($img-path: "../img/chave_cortada.png");
    }
  }
}

.tabela-info {
  width: 100%;

  .update-modificado {
    margin-top: 15px;
    text-align: end;
    //margin: 0 0 20px;
  }
}

/* Classes para a página de login */
.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;

  .alert {
    margin-top: 1rem;
  }

  .alert-danger {
    width: 80%;

    button.btn-close {
      position: absolute;
      box-sizing: content-box;
      padding: 10px;
      color: #000;
      background: transparent
        url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-512.png")
        center/15px auto no-repeat;
      border: 0;
      border-radius: 0.375rem;
      opacity: 0.6;
    }

    p {
      text-align: center;
      margin: 0;
      font-size: 9pt;
    }
  }

  .alert-dismissible {
    padding-right: 21px;
  }

  .login-form {
    width: 100%;

    input[type="submit"] {
      width: 100%;
    }
  }

  .revelar-senha-login {
    width: 1%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    bottom: 62px;
    left: 245px;
    line-height: 0;
  }

  #hide {
    z-index: 300;
    cursor: pointer;
    opacity: 70%;
    color: var(--main-color-blue);
  }

  #unhide {
    z-index: 301;
    cursor: pointer;
    display: none;
    opacity: 70%;
    color: var(--main-color-blue);
  }
}

/* Para o cadastrar dos patrimônios */
.cadastrar,
.editar {
  .alert-success {
    width: auto;

    button.btn-close {
      position: absolute;
      box-sizing: content-box;
      padding: 10px;
      color: #000;
      background: transparent
        url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-512.png")
        center/15px auto no-repeat;
      border: 0;
      border-radius: 0.375rem;
      opacity: 0.6;
    }

    p {
      text-align: center;
      margin: 0;
      font-size: 9pt;
    }
  }

  .alert-danger {
    width: auto;

    button.btn-close {
      position: absolute;
      box-sizing: content-box;
      padding: 10px;
      color: #000;
      background: transparent
        url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-512.png")
        center/15px auto no-repeat;
      border: 0;
      border-radius: 0.375rem;
      opacity: 0.6;
    }

    p {
      text-align: center;
      margin: 0;
      font-size: 9pt;
    }
  }

  .alert-dismissible {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  /* Para o form de cadastrar */
  .form-cadastrar,
  .form-editar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //max-width: 700px;

    .flex-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .form-group {
    flex: 1;
    /* margin-right: 1rem;
    margin-left: 1rem; */
    padding: 1rem;

    label {
      width: auto;
      font-size: medium;
      font-weight: bold;
    }

    input,
    select,
    option,
    textarea {
      border: solid 1px #2f2f2f4f;
      font-size: small;

      &:focus:not([readonly]) {
        border: var(--main-border-color-focus);
        box-shadow: var(--main-box-shadow);
      }
    }

    .form-select {
      flex: 1;
    }

    .form-group:last-child {
      margin-right: 0;
    }
  }
}

.search-main {
  margin: 40px 0 80px;
  width: auto;
}

.search-input,
.search-input-software {
  input {
    font-size: small !important;
  }
  span {
    font-size: small;
  }
  input:placeholder-shown {
    font-style: normal;
  }
}

/* Para o cadastrar e editar do modelo */
.modelo {
  .alert-danger {
    button.btn-close {
      position: absolute;
      box-sizing: content-box;
      padding: 10px;
      color: #000;
      background: transparent
        url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-512.png")
        center/15px auto no-repeat;
      border: 0;
      border-radius: 0.375rem;
      opacity: 0.6;
    }

    p {
      text-align: center;
      margin: 0;
      font-size: 9pt;
    }
  }

  .alert-dismissible {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  /* Para o form de editar um modelo */
  .form-modelo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;

    .submit-editar {
      margin: 0 22px;
    }

    .flex-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .form-group {
    flex: 1;
    border: 1px solid rgb(0, 0, 0, 0.2);
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1rem;

    label {
      width: auto;
      margin-right: 1rem;
      margin-left: 1rem;
      font-size: medium;
      font-weight: bold;
    }

    input,
    select,
    option,
    textarea {
      border: solid 1px #2f2f2f4f;
      font-size: small;

      &:focus:not([readonly]) {
        border: var(--main-border-color-focus);
        box-shadow: var(--main-box-shadow);
      }
    }

    .form-control,
    .form-select {
      flex: 1;
    }

    .form-group:last-child {
      margin-right: 0;
    }
  }
}

/* Para o painel de logs na área de admin */
.painel-logs {
  margin: 40px 0 30px;
  width: auto;
  .form-select {
    flex: 1;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.painel-container {
  transition: 200ms linear;
}
.painel-container:hover {
  transform: scale(1.1);
}

/* Para o texto no painel das salas */
.titulo-salas {
  span {
    font-size: small;
    color: #444444;
    font-weight: bold;
  }
}
.texto-search {
  span {
    font-size: small;
  }
}

/* Estilo para a mensagem ao atualizar */
.update-msg {
  .alert-success,
  .alert-warning {
    width: auto;
    margin: 10px 0;

    button.btn-close {
      position: absolute;
      box-sizing: content-box;
      padding: 10px;
      color: #000;
      background: transparent
        url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-512.png")
        center/15px auto no-repeat;
      border: 0;
      border-radius: 0.375rem;
      opacity: 0.6;
    }

    p {
      text-align: center;
      margin: 0;
      font-size: 9pt;
    }
  }

  .alert-dismissible {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

/* Estilo para a página não encontrada */
.pg-n-encontrada {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilo para a tabela dos softwares instalados */
.search-input-software {
  input {
    border: none !important;
  }
  input:focus:not([readonly]) {
    border: none !important;
    box-shadow: none !important;
  }
  .search-border {
    transition: opacity 0.2s linear, box-shadow 0.2s linear,
      border-color 0.2s linear;
    opacity: 0.8; // Estado padrão com opacidade mais baixa

    &:focus-within {
      border: var(--main-border-color-focus);
      box-shadow: var(--main-box-shadow);
      opacity: 1; // Aumenta a opacidade no foco
    }
  }
}

.softwares {
  //max-height: 640px;

  .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: var(--main-bg-color);
    p {
      color: #fff !important;
    }
  }
}

.troca-patrimonio {
  display: flex;
  flex-direction: row;
  .setas {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}
